# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Netbeans
nb-configuration.xml

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# Javascript
node_modules/
package-lock.json

# Other stuff
pages/
.reload
/nbproject/

test/lib/seleniumdrivers/
